<div class="author-detail-container">
    <div class="author-details">
        <div class="author-name">{{authorDetails.name}}</div>
        <img class="author-image" src="http://placehold.it/350x150">
        <div class="author-email-id">{{authorDetails.emailID}}</div>
        <div class="author-descriptions">{{authorDetails.details}}</div>
        <div class="extra-content">
            <div class="buttons">
                <div class="button">Follow</div>
                <div class="button">Like</div>
            </div>
        </div>
    </div>
    <div class="author-posts">
        <h3 class="header">Post by {{authorDetails.name}}</h3>
        <div class="author-post-list">
        </div>
    </div>
</div>
